<div class="continent-menu" style="background: red">
  <ul>
      <li><h1>Testing</h1></li>
    {{#each this.categories as |category|}}
      <li class="continent-{{category.slug}}">
        <a href="#{{category.slug}}">
              <span class="continent-img ">
                <img src="{{category.uploaded_logo.url}}" alt="logo">
              </span>
          <span class="continent-name">
            {{category.name}}
          </span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
