.search-widget {
  .search-link {
    .badge-category {
      display: inline-block;
    }
  }
}

.search-menu .search-input input#search-term {
  width: 100%;
}

.custom-search-banner-wrap .search-icon {
  top: 0.15em;
}

.mint-component-extensions .search-banner{display: block !important}
.list-controls, .admin-main-nav {
    top: 70px;
    margin-left: -15px;
    margin-right: -15px;
}