.search-widget {
  .search-link {
    .badge-category {
      display: inline-block;
    }
  }
}

.search-menu .search-input input#search-term {
  width: 100%;
}

.custom-search-banner-wrap .search-icon {
  top: 0.15em;
}

.mint-component-extensions .search-banner {
  display: block !important
}

.list-controls, .admin-main-nav {
  top: 70px;
  margin-left: -15px;
  margin-right: -15px;
}

.category-heading {
  max-width: 100%;
  display: flex;
  font-size: x-small;
  align-items: center;

  .category-logo {
    margin: 0 10px 0 0;
  }

  p {
    margin-bottom: 0
  }
}

.category {
  #navigation-bar {
    font-size: x-small;
  }

  .list-controls .tag-drop-header,
  .list-controls .category-drop-header {
    padding: 0;
  }

  #main-outlet {
    padding-top: 0
  }

  .category-navigation {
    .single-select-header {
      font-size: x-small !important;
      padding: 5px !important;
    }

    .category-breadcrumb {
      margin-bottom: 5px;
    }

    .btn {
      font-size: x-small;
    }
  }

  .toggle-link {
    padding: 0 5px !important;
    min-height: 20px !important;
  }
}
