<div class="continent-menu">
  <ul>
    {{#each this.categories as |category|}}
      <li>
        <a href="#{{category.slug}}">
          <span class="continent-img ">
            <img src="{{category.uploaded_logo.url}}" alt="logo">
          </span>
          <span class="continent-name">
            {{category.name}}
          </span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>