.continent-menu {
  position: initial;
  ul {
    justify-content: flex-start;
    li a {
      margin-bottom: 10px;
    }
    .continent-name {
      margin-top: 0 !important;
      font-weight: 500 !important;
    }

  }
}
.categories-list .container.list-container {
  padding-top: inherit;
}
.p-navigation {
  display: none;
}
